@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("./typography"); */

* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	line-height: 1.6;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
